<div class="px-2 newEntityForm">
  <h4 class="text-xl pb-2">Publish new post:</h4>
  <div class="flex flex-row gap-1">
    <div class="flex flex-col gap-1 grow">
      <input
        type="text"
        name="title"
        id=""
        class="input input-sm"
        placeholder="Title"
      />
      <input
        type="text"
        name="author"
        id=""
        class="input input-sm"
        placeholder="Author"
      />
    </div>
    <div>
      <button type="submit" class="btn btn-secondary w-20">Send</button>
    </div>
  </div>
</div>
