<div class="flex flex-row items-center px-2 entityContainer">
  <div class="flex flex-col grow entityContentContainer">
    <p class="text-xl">
      <span class="font-semibold">{{ getEntityProperty() }} </span
      >{{ entity?.title }}
    </p>
    <p class="text-xl">
      <span class="font-light italic">by </span>{{ entity?.author }}
    </p>
  </div>
  <div class="flex flex-col gap-1 entityButtonsContainer" *ngIf="isPostP()">
    <button
      (click)="disconectSocket()"
      class="btn btn-sm btn-primary"
      routerLink="/post/{{ entity?.aggregateId }}"
    >
      Enter
    </button>
    <button class="btn btn-sm btn-primary">Edit</button>
  </div>
</div>
